In [2]:
import numpy as np
import matplotlib.pyplot as plt
from tensorflow import keras
from tensorflow.keras.layers import Dense
from sklearn.linear_model import LinearRegression
import pandas as pd

In [3]:
df_elecar = pd.read_excel('/content/drive/MyDrive/Elec_car2xlsx.xlsx')
df_elecar2 = df_elecar.set_index('시도')
df_elecar2

      1     2     3      4      5   ...     30     31     32     33     34
시도                                  ...
전국  8911  9006  9593  10503  11917  ...  86246  89094  92481  96744  98446
울산   191   193   200    225    280  ...   3165   3214   3279   3379   3433

[2 rows x 34 columns]

In [4]:
X1 = list(df_elecar2.columns)
X2 = np.array(X1)
y_tot= df_elecar2.iloc[0,0:]
ytot = np.array(y_tot)
y_uls= df_elecar2.iloc[1,0:]
yuls = np.array(y_uls)

print('X2:',X2, "y_tot:",ytot,"y_uls:", yuls)

X2: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34] y_tot: [ 8911  9006  9593 10503 11917 14981 17515 19683 23011 26791 30659 32657
 33100 33558 37790 42264 46615 50372 54078 56175 58683 61258 65306 67860
 68338 70674 76323 79469 81264 86246 89094 92481 96744 98446] y_uls: [ 191  193  200  225  280  354  401  454  550  663  858  910  923  926
  960 1171 1398 1624 1831 1920 2013 2082 2330 2423 2458 2518 2661 2751
 2823 3165 3214 3279 3379 3433]

In [ ]:
plt.plot(X2,ytot)
plt.show()

In [ ]:
plt.plot(X2,yuls)
plt.show()

In [ ]:
new_X3 = X2.reshape(-1,1)
new_X3

In [6]:
lr = LinearRegression()
lr.fit(new_X3,ytot)
print('기울시:', lr.coef_, '\ny절편:',lr.intercept_)

기울시: [2871.93567609]
y절편: -1395.1978609625585

In [7]:
test_X1 = np.arange(33,96,1)
test_X1

array([33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
       50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66,
       67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83,
       84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95])

In [8]:
tot_prediction = []
for i in test_X1:
    tot_prediction.append(2871.94*i - 1395.2)

print("Total:", tot_prediction)

Total: [93378.82, 96250.76000000001, 99122.70000000001, 101994.64, 104866.58, 107738.52, 110610.46, 113482.40000000001, 116354.34000000001, 119226.28, 122098.22, 124970.16, 127842.1, 130714.04, 133585.97999999998, 136457.91999999998, 139329.86, 142201.8, 145073.74, 147945.68, 150817.62, 153689.56, 156561.5, 159433.44, 162305.38, 165177.31999999998, 168049.25999999998, 170921.19999999998, 173793.13999999998, 176665.08, 179537.02, 182408.96, 185280.9, 188152.84, 191024.78, 193896.72, 196768.66, 199640.6, 202512.53999999998, 205384.47999999998, 208256.41999999998, 211128.36, 214000.3, 216872.24, 219744.18, 222616.12, 225488.06, 228360.0, 231231.94, 234103.88, 236975.82, 239847.75999999998, 242719.69999999998, 245591.63999999998, 248463.58, 251335.52, 254207.46, 257079.4, 259951.34, 262823.27999999997, 265695.22, 268567.16, 271439.1]

In [9]:
lr = LinearRegression()
lr.fit(new_X3,yuls)
print('기울시:', lr.coef_, '\ny절편:',lr.intercept_)

기울시: [109.60015279]
y절편: -313.26737967914414

In [10]:
test_X1 = np.arange(33,96,1)
test_X1

array([33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
       50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66,
       67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83,
       84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95])

In [11]:
uls_prediction = []
for i in test_X1:
    uls_prediction.append(109.6*i - 313)

print("Total:", uls_prediction)

Total: [3303.7999999999997, 3413.3999999999996, 3523.0, 3632.6, 3742.2, 3851.8, 3961.3999999999996, 4071.0, 4180.599999999999, 4290.2, 4399.8, 4509.4, 4619.0, 4728.599999999999, 4838.2, 4947.799999999999, 5057.4, 5167.0, 5276.599999999999, 5386.2, 5495.799999999999, 5605.4, 5715.0, 5824.599999999999, 5934.2, 6043.799999999999, 6153.4, 6263.0, 6372.599999999999, 6482.2, 6591.799999999999, 6701.4, 6811.0, 6920.599999999999, 7030.2, 7139.799999999999, 7249.4, 7359.0, 7468.599999999999, 7578.2, 7687.799999999999, 7797.4, 7907.0, 8016.6, 8126.199999999999, 8235.8, 8345.4, 8455.0, 8564.6, 8674.199999999999, 8783.8, 8893.4, 9003.0, 9112.6, 9222.199999999999, 9331.8, 9441.4, 9551.0, 9660.6, 9770.199999999999, 9879.8, 9989.4, 10099.0]